# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.db
*.sqlite3
uploads/*.jpg
test_images/

# Node
node_modules/
dist/
dist-ssr/
*.local

# Logs & OS
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
