# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.db
*.sqlite3
backend/uploads/*.jpg
backend/uploads/*.png
backend/uploads/*.jpeg
!backend/uploads/.gitkeep
uploads/
test_images/

# Node
node_modules/
dist/
dist-ssr/
*.local

# Logs & OS
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
